<ion-view>
  <ion-content class="padding fondoLogin">
    <div class="contenedor-form">
        <div class="togglelogin">
            <span> Crear Cuenta</span>
        </div>
        
        <div class="formulario">
          <img src="../img/iconlogin.png" width="100"height="100" class="user">
            <h2>Iniciar Sesión</h2>
            <form action="#">
                <input type="text" placeholder="Usuario" required>
                <input type="password" placeholder="Contraseña" required>
                <input type="submit" value="Iniciar Sesión">
            </form>
        </div>
        
        <div class="formulario">
            <h2>Crea tu Cuenta</h2>
            <form action="#">
                <input type="text" placeholder="Usuario" required>
                
                <input type="password" placeholder="Contraseña" required>
                
                <input type="email" placeholder="Correo Electronico" required>
                
                <input type="text" placeholder="Teléfono" required>
                
                <input ui-sref="tab/chats" type="button" value="Registrarse">
            </form>
        </div>
        <div class="reset-password">
            <a href="#" class="Olvide">Olvide mi Contraseña?</a>
        </div>
    </div>
    
  </ion-content>
</ion-view>
