<ion-view view-title="Principal">
  <ion-content>
    <div class="container1">
    <section>
    <header>
        <a class="toggle">Menu</a>
        <ul class="">
            <li><a href="#">Home</a></li>
            <li><a ui-sref="tab/chats">pokemones</a></li>
            <li><a href="#">contactos</a></li>
            <li><a href="#">proximamente....</a></li>
            <li><a href="#">proximamente....</a></li>
            <li><a href="#">proximamente....</a></li>
        </ul>
    </header>
</section>
    </div>
    <div class="piepag">
     <div class="row">
         <div class="col">Equipo Desarrollador</div>
     </div>
    </div>
  </ion-content>
</ion-view>
