<ion-view view-title="Account">
  <ion-content class="fondobienve">
<div class="container fondobienve2">
 <img src="https://vignette.wikia.nocookie.net/es.pokemon/images/c/c0/Oak_Pok%C3%A9mon_Let%27s_Go.png/revision/latest/scale-to-width-down/350?cb=20180713102000h"class="oak">
 <div class="textwelcome">
  <p class="textoak">Hola Bienvenido a esta aplicacion llamada world poke<span>&#160;</span></p> 	
 </div>
</div>
<div class="container">
<a href="" class="boton">
 Comenzar
 <span></span>
 <span></span>
 <span></span>
 <span></span>
</a>
</div>
  </ion-content>
</ion-view>
