<ion-view view-title="Principal">
  <ion-content>
    <div class="container1">
      <div class="row">
        <div class="col col-60 letra1"><div class="borde">Menu</div></div>
        <div class="col col-10 letra1"><div class="borde borde1"><a href="" class="decoracion">Info...</a></div></div>
        <div class="col col-10 letra1"><div class="borde"><a href="" class="decoracion">Info...</a></div></div>
        <div class="col col-10 letra1"><div class="borde"><a href="" class="decoracion">Info...</a></div></div>
        <div class="col col-10 letra1"><div class="borde"><a href="" class="decoracion">Info...</a></div></div>
      </div>
    </div>
  </ion-content>
</ion-view>
